POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres
DB_USERNAME=change_me
DB_PASSWORD=change_me
SEED_ENABLED=false
SEED_RESET_BEFORE_SEED=false
SEED_EXPECTED_USER_COUNT=0
SEED_INSTITUTION_NAME=
SEED_INSTITUTION_LICENSE_NUMBER=
SEED_INSTITUTION_CONTACT_EMAIL=
SEED_INSTITUTION_SUBSCRIPTION_PLAN=
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_ROLE=
SEED_ADMIN_MFA_ENABLED=true
SEED_OFFICER_NAME=
SEED_OFFICER_EMAIL=
SEED_OFFICER_ROLE=
SEED_OFFICER_MFA_ENABLED=false
SEED_DEFAULT_USER_PASSWORD=
SEED_DEFAULT_AUDIT_IP=
ALLOWED_ORIGINS=*
